[2015-03-27 22:04] VojtechVitek opened #1 "Install: go get"
And leave comment for external dependencies, test it out.

Thanks @dkua

[2015-04-24 14:51] pkieltyka opened #2 "Sending a ctrl+c should also send that to each session"

[2015-05-07 17:23] VojtechVitek commented on #1
Fixed by 4709073f261cf5885e7dc5fe25ea0c919bbff7c4

[2015-05-07 17:23] #1 closed

[2015-07-30 13:02] pkieltyka opened #5 "Add serial command, like ansible"
This runs only on N number of servers at a time..

[2015-07-30 16:59] pkieltyka opened #6 "Shell commands .. like: sup production - ls -la"

[2015-08-12 15:07] pkieltyka opened #7 "CLI to accept multiple commands"
ie. `sup beta pull build ps`

[2015-09-09 13:57] VojtechVitek commented on #6
I just realized you could run `sup production exec <<< "echo sup"`. Would that be enough?

[2015-09-09 14:04] VojtechVitek commented on #5
We can have Supfile `command` field:
- `max: 2`

And/or
- `sup --max=2` cmd option.

[2015-09-16 20:27] pkieltyka opened #8 "Ability to run commands on specific hosts"
`$ sup production db-up -only=api1`

the -only would do a substring find on any host that matches that

..and can be comma separated like.. `-only=api1,api2`

[2015-09-16 20:27] pkieltyka commented on #8
perhaps we add this to the Supfile too .. so a command runs on: `only: api1`  .. doing a substring match again here..

[2015-09-16 20:31] pkieltyka opened #9 "Dynamic hosts list from command or http endpoint"
ie..

[code]

the hosts expects hosts on newlines, and will use that list for the present time. This is useful to automated environments. We could also allow `hosts: $ command`

[2015-09-17 18:44] lxfontes commented on #9
I've added to the v2 branch
`host_inventory: ./fetch_production_hosts`
it calls an external script

should we replace it with an HTTP call instead?
Rationale was that you could simply write a curl script, or something more fancy like chef / aws inventory

[2015-09-18 20:25] pkieltyka commented on #9
host_inventory is a cool way of doing this ... do you think just shortening it to `inventory` would still be clear..?

I think it could work in that it reads the prefix of the value, and if its http(s)://, then make an http request, otherwise, run on filesystem in ./

[2015-09-18 20:26] pkieltyka commented on #9
@lxfontes thanks for making that branch! next time ping me because I didn't notice until you mentioned it in the issue

[2015-09-18 21:40] VojtechVitek commented on #9
@lxfontes great stuff. Please, create a Pull Request, so we can discuss code :)

[2015-10-21 18:12] VojtechVitek opened #10 "Random ENV failures when vars depend on each other"
Since YAML parses ENV vars into a map, we loose the declaration order, and thus the following randomly fails:

[code]

[2015-11-25 17:00] VojtechVitek opened #13 "Fix an early exit (remove sleep hack)"
https://github.com/pressly/sup/blob/8fb86db3f3ddf9cd5cb7e24398fb89c5364f262c/sup.go#L179-L181

[code]

[2015-11-25 20:05] #13 closed

[2015-11-25 23:00] pkieltyka commented on #8
@VojtechVitek finished this in #15 -- beautiful job!

[2015-11-25 23:00] #8 closed

[2015-11-29 09:39] eduardonunesp opened #16 "Error in sup dev deploy (--checkpoint=100 --totals not available)"
I'm running a docker env using `docker-machine`, after run `sup dev deploy` the following error occurs, looks like it haven't a `tar` command with options checkpoint `checkpoint` and `totals`. Is it possible to make those options optional ?

[code]

[2015-11-29 09:48] eduardonunesp opened #17 "Deploy fails if directory /tmp/pressly/example don't exists"
[code]

After create the `/tmp/pressly/example` directory the deploy is ok

[2015-11-29 21:10] VojtechVitek commented on #16
Interesting, seems like the `tar` on your end machine doesn't support that option. We can for sure remove it. Thanks!

[2015-11-29 21:10] VojtechVitek commented on #17
Good catch, I'll update the example shortly.

[2015-11-29 21:20] pkieltyka commented on #16
Yea lets use archive/tar instead

[2015-11-29 21:32] eduardonunesp opened #18 "Deploy multiples Sups"
Would be cool if `sup` have an option to work with "sub sups", so you can organize multiple deploys with only one command, for instance:

[code]

[2015-11-29 21:36] eduardonunesp commented on #9
Is it a simple list right ? like:

[code]

[2015-11-29 23:52] eduardonunesp commented on #16
Actually to give more options to `tar` can be really useful, sometimes upload only certain kind of files for example. I have a project using NodeJS and I don't want to upload the `node_modules` directory.

[2015-11-30 00:25] eduardonunesp opened #19 "Add this project to Awesome-Go"
https://github.com/avelino/awesome-go :-)

[2015-11-30 00:50] pkieltyka commented on #9
The parsing of the list could be piped to a shell command.. Then anything can be supported

[2015-11-30 03:35] pkieltyka commented on #18
thats interesting.. would be nice to hear if there is more interest for this sort of thing, there are a few design I have in mind.

what would you see as the resulting command from the root? `sup project2 production deploy` ?

[2015-11-30 10:19] eduardonunesp commented on #18
I was thinking in the following commands, from root:

`sup production deploy` to call deploy for all projects in the Supfile conf.
`sup production deploy --sub project2` to call deploy only for the project2.

The idea of Supfile for the root is something like:

[code]

[2015-11-30 10:21] eduardonunesp commented on #9
:+1:

Agree, the use of pipe is a good idea

[2015-11-30 10:28] eduardonunesp commented on #10
And if a custom parse process runs after, looking for dependencies, for instance: after found the variable `$WORKDIR` it searches in map for a key named `WORKDIR`

[2015-11-30 10:29] eduardonunesp commented on #7
:+1:

[2015-11-30 10:33] eduardonunesp commented on #6
Looks good, but why the `sup production exec <<< "ls -la"` instead `sup production exec - ls -la`

[2015-11-30 10:34] eduardonunesp commented on #2
:+1:

[2015-11-30 10:39] eduardonunesp commented on #18
Or

[code]

[2015-11-30 10:58] aminehmida opened #20 "execute command in specific host"
Hi, I want to thank you for this nice tool. In fact, I was experimenting some deployment scenarios using sup and I have found a use case that is not covered in the example supfile and I don't know if it is currently even possible.

I want to tail-log from specific syslog server

[code]
Maybe we can add `host` field to force specific host. I know it is possible to add that host and add a tail-logs

[2015-11-30 11:16] eduardonunesp commented on #20
Hey @aminehmida, maybe you can use the option `--only `, like:

`sup --only syslog-server.myapp.com dev tail-logs `

[2015-11-30 11:27] eduardonunesp opened #21 "Detect the current network in /scripts/docker-run.sh"
I know that is possible to use variable ENV from network, like:

[code]

But, would be cool if that environment variable was created automatically :)

[2015-11-30 13:07] pkieltyka commented on #21
I agree, we should have some default env vars like SUP_NETWORK

[2015-11-30 15:30] VojtechVitek commented on #20
Hi @aminehmida,
yes - as Eduardo mentioned, you can use `sup --only [regexp]` option for this.

[2015-11-30 15:30] #20 closed

[2015-11-30 15:39] aminehmida commented on #20
Ok, I guess it will do the trick. Many thanks.

[2015-11-30 19:24] pkieltyka commented on #5
I kind of like the word "serial", because it indicates the dependency as serial instead of parallel... ie --serial=2  or serial: 2

[2015-11-30 19:25] pkieltyka commented on #6
@eduardonunesp we get `<<<` for free which is one of the benefits

[2015-11-30 19:31] eduardonunesp commented on #6
Cool :+1:

[2015-11-30 19:33] pkieltyka commented on #10
Hmm shit, good find. We need to dig into the yaml lib (https://github.com/go-yaml/yaml) and consider how we can persevere the order -- as in, parsing into a slice of a map

[2015-11-30 19:33] eduardonunesp commented on #17
An script could take care of that, by initializing important stuff

[code]

[2015-11-30 19:38] VojtechVitek commented on #10
Yeah, there's no easy way to do it :(

We'll probably need to use https://godoc.org/gopkg.in/yaml.v2#MapSlice + reflection.

[2015-11-30 19:40] VojtechVitek commented on #5
Yea, I already have WIP for `serial`.

[2015-11-30 19:41] VojtechVitek commented on #19
@eduardonunesp we'd be glad if anyone created that PR :)

[2015-11-30 19:46] eduardonunesp commented on #19
Cool ! I can do that :+1:

[2015-11-30 20:38] brianreavis opened #22 "Fabric?"
Just curious: in what ways does this differ from [fabric](http://www.fabfile.org/)? (apart from being written in Go)

[2015-11-30 20:42] pkieltyka commented on #22
I'm not sure, I've tried or heard of fabric until a few days ago. Would be curious what people think too.

[2015-11-30 20:43] eduardonunesp commented on #22
After rapid overview on Fabric documentation, I think that Sup looks like Fabric (just for an overview), I don't know Fabric deeply. Sup looks declarative, when you don't need to write some shell scripts.

[2015-11-30 20:45] eduardonunesp commented on #19
Added to Awesome-Go https://github.com/avelino/awesome-go#other-software

[2015-11-30 21:07] eduardonunesp opened #23 "Run a local command"
Could I run a local command as part of my set of commands ? For instance: I need to build a distribution package of my frontend in local machine and after that i need to upload to start the deploy.

Something like:

[code]

So, after passing the `local : true` to my task, I'm sure that will be executed locally before the upload.

[2015-11-30 21:42] VojtechVitek commented on #23
I was thinking of this use case just yesterday. Yea, I can add this functionality.

[2015-11-30 22:11] eduardonunesp commented on #23
:+1:

[2015-11-30 22:18] pkieltyka commented on #19
thanks :)

[2015-11-30 22:18] #19 closed

[2015-11-30 22:22] pkieltyka commented on #23
good idea. is `local: true` the best way to do it..? the most clear..?

[2015-11-30 22:39] VojtechVitek commented on #23
Either that, or

[code]

[2015-11-30 22:56] eduardonunesp commented on #23
Yeah, the option `run_local` looks good

[2015-11-30 23:01] pkieltyka commented on #23
I kind of prefer how `local: true` looks

[2015-11-30 23:09] eduardonunesp commented on #23
The `local: true` can be a pattern to run local or remote, the default is to run remote, but the local turn the command in a local command

[2015-11-30 23:41] VojtechVitek commented on #23
On the other hand, what should happen on

[code]

[2015-12-01 06:36] eduardonunesp commented on #23
Good point, maybe that option can't apply to all commands

[2015-12-01 07:13] lexa-uw opened #24 "Bad file descriptor on localhost"
Config:
[code]

Error on localhost :
[code]

On production host works fine:
[code]

[2015-12-01 07:55] eduardonunesp commented on #21
https://github.com/pressly/sup/pull/25

[2015-12-01 08:09] eduardonunesp commented on #24
Testing with example project, sometimes the issue happen, sometimes not:
[code]

[2015-12-01 08:27] lexa-uw commented on #24
Issue happens always on my localhost.

[2015-12-01 11:46] eduardonunesp commented on #23
Done something here, it's very simple.

https://github.com/eduardonunesp/sup/commit/8b3bad7ca61a6f4948597970dc8dbcec28f3ff91

[2015-12-01 13:10] #21 closed

[2015-12-01 13:13] pkieltyka opened #27 "Refactor local tar to using archive/tar pkg"
See: https://github.com/pressly/sup/blob/master/tar.go#L36

[2015-12-01 14:33] eduardonunesp commented on #27
:+1:

[2015-12-01 14:34] pkieltyka commented on #27
@eduardonunesp feel free to submit a PR for this if you have the time :)

[2015-12-01 14:36] eduardonunesp commented on #27
Sure, I'll take a look, need to learn more about archive/tar

[2015-12-01 14:36] eduardonunesp commented on #23
@VojtechVitek I know that you have a better idea :-)

[2015-12-01 15:06] VojtechVitek commented on #27
I don't know if "tar/archive" will help us lot --- the same problem is on the end machine too, not just on localhost.

[2015-12-01 22:55] eduardonunesp commented on #23
https://github.com/pressly/sup/pull/28

[2015-12-01 22:57] eduardonunesp commented on #27
archive/tar can help if the localhost doesn't have the tar command right ? the Sup is using the minimum viable tar options now

[2015-12-02 17:30] pkieltyka commented on #27
thats true. Having archive/tar at least helps the local machine, ie. what if someone uses this on Windows?

also, do we really need tar at all to transfer the data..? doesn't the library have some kind of scp equivalent to send a stream of file data?

[2015-12-02 17:46] eduardonunesp commented on #27
A friend of mine, suggested to use rsync instead of tar. But i don't have idea how to replace :(

[2015-12-02 17:52] VojtechVitek commented on #27
I'd love to use rsync, if available. But not all machines have that. We can maybe fall-back to tar, if necessary.

[2015-12-02 18:12] eduardonunesp commented on #27
Agree, the local archive/tar looks good, in the case of Windows.

[2015-12-02 19:19] pkieltyka commented on #27
I wish we could use just go libs for the upload instead of having to go down to cli calls to get a data stream for a bunch of files.

rsync is cool though since it does a file sync without a full upload

[2015-12-02 19:28] VojtechVitek commented on #27
Yes, I'll do that for localhost. I can't do that for remote command though.

[2015-12-02 23:21] eduardonunesp commented on #24
That problem is really annoying, happen with my localhost deploy, did you run thought this issue @pkieltyka @VojtechVitek

[2015-12-02 23:33] eduardonunesp commented on #24
@lexa-uw That error, what OS it occurs ?

[2015-12-03 06:13] leitu opened #29 "initAuthMethod allow input ssh_password"
If it accept with ssh_password that would be great.

[2015-12-03 06:44] lexa-uw commented on #24
My OS Calculate linux(Gentoo based) on both hosts.
[code]

[2015-12-03 06:49] lexa-uw commented on #24
I think this problem depends from bash env.
I have run similar config on remote host as on local and it works fine.
[code]

[2015-12-03 07:03] lexa-uw commented on #24
In zsh same problem.

[2015-12-03 07:08] lexa-uw commented on #24
Hmm, when I run it from sourcecode it works fine too
[code]

[2015-12-03 07:49] lexa-uw commented on #24
Error happens on copy stdout for localhost client.
https://github.com/pressly/sup/blob/master/sup.go#L160

go run works fine:
[code]

And error after go build:
[code]

[2015-12-03 10:41] eduardonunesp commented on #29
+1, however is dangerous passing password or store password in plain text files for a project, but require the password in every `sup` call could bothering as well, that topic needs an special attention

[2015-12-03 10:46] eduardonunesp commented on #24
Very useful information, I was looking at the same file/line yesterday, according with your description looks like a race condition. My guess is or maybe because when you run as `go run` the execution isn't optimized, so the condition doesn't happen.

[2015-12-03 11:10] eduardonunesp commented on #24
Found something interesting about that issue
http://stackoverflow.com/questions/20134095/why-do-i-get-bad-file-descriptor-in-this-go-program-using-stderr-and-ioutil-re

[2015-12-03 12:19] eduardonunesp commented on #24
I have some progress here, the idea is if the `c.Wait` is called before the `io.Copy` the issue happen, after moved the `c.Wait` to be executed after the copy the issue doesn't happen.

[2015-12-03 12:40] lexa-uw commented on #24
You are right :+1:
After moving block of code ```Wait for each client to finish the command```after ```Copy over tasks's STDOUT``` all cases(local and remote server, correct and incorrect command) works fine.

[2015-12-03 13:06] lexa-uw commented on #23
Hello all.

It is not good idea for using variable for running tasks "only on localhost".
In some cases code maybe prepeared on first host(localhos or diferent remote host) and deployed on second host(on remote or, maybe on localhost)

Will be better use next config:
[code]
And run for build:
[code]
Or
[code]

[2015-12-03 14:16] eduardonunesp commented on #23
The idea of `local : true` is an optional param, you don't need to use if you want, so the `Sup` will use the selected network as expected. Wherever the use of `local : true` is a sort of option for a lazy ones that want to do everything in one command like me :)

[2015-12-03 14:40] pkieltyka commented on #29
use a key

[2015-12-03 14:40] #29 closed

[2015-12-03 15:29] VojtechVitek commented on #23
I like the `local` option mainly because you could run `sup` inside of `Supfile`. Thus you could do:

`sup production deploy`, which can internally run `sup builder build`

[2015-12-03 15:34] VojtechVitek commented on #24
@eduardonunesp @lexa-uw kudos to you guys! Thank you for investigating and for the fix :)

[2015-12-03 15:39] lexa-uw commented on #23
I understand what do you want. :)
But this feature just syntax sugar. And it makes sup not really "Super simple deployment tool". I think.

[2015-12-03 15:45] VojtechVitek commented on #22
@brianreavis I'm not sure about fabric functionality -- but what you can easily achieve using sup is for example interactive remote shell or interactive shell inside of remote running Docker containers.

[code]

[code]

Also, I like the Supfile's declarative syntax. You don't need to know Python or Fabric API -- Supfile is just a simple YAML where you define bash commands (and thus any executables

[2015-12-03 15:46] VojtechVitek commented on #18
We could achieve this using `local` command -- see my comment at https://github.com/pressly/sup/issues/23#issuecomment-161676207

[2015-12-03 15:50] VojtechVitek commented on #23
@lexa-uw It's a good point and I don't disagree. But we need to solve the Supfile inside of Supfile somehow and I feel that running `sup` locally inside of Supfile would be the easiest way to achieve dependencies/imports. I completely agree on keeping sup as simple as possible. :)

[2015-12-03 16:10] eduardonunesp commented on #24
Hey, need to check this again, the problem persists here, now with `stderr` as well, simply change the order of execution isn't enough, the problem resides in the `wait` that finishes first, before the `io` operations.

[code]

Tested in a docker image of `golang/latest`

[2015-12-03 16:26] lexa-uw commented on #24
I confirm problem in commit 5a3288ed4776bc3d8a55fe51a54dacabb210b19b
It works only when wait block between STDOUT and STDERR blocks.

[2015-12-03 16:27] lexa-uw commented on #24
Needs unit tests for this cases.

[2015-12-03 16:28] lexa-uw commented on #24
f7986638c0bfe4a03bfd45a5d7e1340c48dbf340

[2015-12-03 16:30] eduardonunesp commented on #24
I don't know, I suspect that problem occurs ever, it's not a question of block position, it's a execution order of the goroutines. Needs a safe function to wait the execution of the command

[2015-12-03 16:34] VojtechVitek commented on #24
I will revert f798663 for now -- but yeah, we need to find what's the right solution here. Since fd=0 is STDIN -- we might want to block until the input writer is ready. Moving things around is just "blindly guessing".

[2015-12-03 16:36] VojtechVitek commented on #24
I can investigate further later today.

[2015-12-03 16:57] eduardonunesp commented on #24
:+1:

[2015-12-03 16:58] #17 closed

[2015-12-03 16:59] eduardonunesp commented on #16
Since this discussion goes to another ticker, I'll consider closed

https://github.com/pressly/sup/issues/27

[2015-12-03 16:59] #16 closed

[2015-12-03 17:01] lexa-uw commented on #24
Sure. Now it seems like a magic.

[2015-12-03 17:15] lexa-uw commented on #23
My sugestion replace ```local : true``` to ```network: $network$```
[code]

[code]
Run ```prepare``` on ```local``` host and ```upload``` to ```remote``` host.

[code]
Run all commands on ```local``` host.

[2015-12-03 17:29] eduardonunesp commented on #23
Cool ! looks nice, that allows to combine others networks :+1:

[2015-12-03 17:31] lexa-uw opened #31 "Move <target> option to <commands>"
Some improvements :)

Was:
[code]
Became:
[code]

What do you think about it?

[2015-12-03 17:45] lexa-uw commented on #5
:+1:

[2015-12-03 17:46] lexa-uw commented on #2
:+1:

[2015-12-03 17:53] lexa-uw commented on #7
Why you do not want use ```targets``` option in config file?

[2015-12-03 17:59] eduardonunesp commented on #31
Looks good too, we need to mockup a bigger file, to check how that new style could help us

[2015-12-03 18:36] VojtechVitek commented on #31
This would create *much more* complexity to the code (reading commands vs. targets from YAML) and I don't think it helps Supfile readability much. We made the distinction between commands and targets for reason. Target is just an alias for multiple commands -- nothing more. One should not be able to put another `"run: "` inside of target etc.

Think of:

[code]

[2015-12-03 18:39] pkieltyka commented on #31
I kind of like it.. I was thinking the same thing recently. It would take a little bit of work, but not that much since "commands" is its own field, YAML will parse it fine. We could define that the "run" in that will always execute before all other commands.

[2015-12-03 18:43] #22 closed

[2015-12-03 18:44] VojtechVitek commented on #31
I'm not convinced this is worth the effort. And there are ugly edge-cases like:

[code]

Not to mention, this breaks the Supfile API.

[2015-12-03 18:46] pkieltyka commented on #31
I don't think its a rush, but we can leave the ticket open for future ideas. To prevent the loop, we could check that when we build the command tree easily.

It does offer us to have command groups easily. Ie. declare a bunch of single commands, make smaller groups, then "deploy" will call those other groups.. the commands execution tree.

[2015-12-03 18:52] VojtechVitek commented on #31
Ok, cool. I will think of this as part of big refactor for v1.0.

[2015-12-03 19:30] eduardonunesp commented on #31
Sure it can generate some ugly edge-case, as well will take the code to another level of complexity, like adding lots of security checks.

IMHO now the project needs a **stable version** before adding more features, the community have found some bugs and maybe have a little more, depending of the case of course.

Agree that project needs a refactor before new specs in `Supfile`, I'd like to help w

[2015-12-03 19:36] VojtechVitek commented on #31
@eduardonunesp sure, I'll create a PR for the big refactor once I have more time and it will be open for discussion before we merge anything :) Any help will be appreciated.

No big rush for now, though. I'm glad we're thinking about new features thoroughly.

[2015-12-03 23:26] eduardonunesp commented on #24
Hey guys, I have a positive experience here, the code it's a little clunky, but it worked, the idea is waiting for all `IO` finished and after a flag is true, than the code call the `Wait`.

https://github.com/eduardonunesp/sup/commit/3ed1d9dd854a4bbacb0254f9b8ff3f88977ed2cc

[2015-12-04 07:14] lexa-uw commented on #31
[code]
No, ```run``` not needs for this type of ```commands```. Only list of commands to running. Like ```targets``` alias, but on level ```commands``` in config.
For not to be confused in ```commands``` on first and second levels in config, I suggest name it ```targets``` or ```queue```, maybe any else.

[code]

Consequently we have in config only 3 entities on first level: ```env```, ```networks

[2015-12-04 07:22] lexa-uw commented on #24
This articles http://blog.golang.org/race-detector and https://golang.org/doc/articles/race_detector.html must be helpfull for check race conditions.

[2015-12-04 09:29] eduardonunesp commented on #24
Yeah, well remembered the param `-race` is a good friend. After run the latest code with race detector it found some possible issues:

[code]

https://github.com/pressly/sup/tree/9eeba3f26644c8559360fff3de59159a9dc292df

[2015-12-04 11:15] lexa-uw commented on #24
Please check fix. https://github.com/pressly/sup/pull/32
My config
[code]
Results:
[code]

And build:
[code]

[2015-12-04 11:22] lexa-uw commented on #24
Problem was in twice wating.
First - in taskClient
[code]
Second - after this waiting after ```for``` block:
[code]

Bun we need wait only copy ```STDOUT``` and ```STDERR```

[2015-12-04 11:38] eduardonunesp commented on #24
They are different "Waits", the first one stands for `Wait the command execute` the second is for `Wait all goroutines finish their task`

[2015-12-07 20:49] VojtechVitek commented on #23
I'm starting to like @lexa-uw's the idea of `network: $network$`. But I'd like to be even more specific and have `override_host` (or how do we call it) option instead. Example:

[code]

What you guys think?

[2015-12-07 20:58] pkieltyka commented on #23
I think this is pretty clever too, I like the use of "network" or "host".

I'd prefer to just go with "network" though, since it can reference the above network. I also think we should have a default network of "local" in each Supfile, unless its redefined in the network definitions list. This way, the "local" network is implied for all Supfile's.

That's my vote.

[2015-12-08 10:49] ppalucki opened #33 "Provide binary releases for linux64 and osx"
rationale: possibility of use without go toolchain

[2015-12-08 15:22] pkieltyka commented on #33
@ppalucki good idea -- here they are https://github.com/pressly/sup/releases/tag/0.2.2

[2015-12-08 15:22] #33 closed

[2015-12-11 03:28] stengaard commented on #18
I think an `include` option would be very useful in the sense that defining and re-using e.g. `networks` across projects would simplify multi-project deployments. I do agree that deploying sub-projects can be easily solved with `local` - but if these project need to go to the same host, then you need duplicate these networks across all projects.

[2015-12-12 22:02] VojtechVitek commented on #18
@stengaard for reusing hosts across Supfiles, you'd probably use #9.

[2015-12-12 23:15] VojtechVitek commented on #23
Guys, after a lot of thinking and doing some experiments, I changed my mind. I don't think that forcing network (or hosts) for a given command/target is such a good idea anymore.

Imho, the power of SUP is its simple CLI API -- `sup <network> <command>` -- and the network/host overriding would break it (or at least it would introduce really confusing behavior edge cases):

Given this Supfile:
[cod

[2015-12-13 10:25] eduardonunesp commented on #24
@VojtechVitek looks like the fix worked

[2015-12-14 11:57] stengaard commented on #18
Ok - I'll create a PR to get the ball rolling on that.

[2015-12-14 12:03] eduardonunesp commented on #23
Yeah, make sense, my original idea was doing the activities in one command only, in this case prepare, build and upload my code, I agree that can be done as well with two commands `sup local prepare` and `sup stg deploy`.

[2015-12-14 19:45] VojtechVitek opened #38 "Color wrapper instead of prefixer"
SUP uses https://github.com/goware/prefixer for printing the prefix on each line, but it could use wrapper instead (prefix+postfix) so we could print using a default terminal color while writing stdin input.

If we wanted, we could even let SSH sessions send us the remote terminal colors.

[2015-12-14 19:47] #24 closed

[2015-12-14 19:47] VojtechVitek commented on #24
@eduardonunesp @lexa-uw fixed in master now -- feel free to test

[2015-12-14 20:53] #9 closed

[2015-12-14 20:54] VojtechVitek commented on #9
`inventory: <command>` implemented in master now. Thanks @lxfontes & @stengaard for pushing this forward!

[2015-12-14 21:06] VojtechVitek commented on #18
Closing in favor of #23. We can think of Supfile calling `sup -f ./another/Supfile` as Makefile calling `$(MAKE) -f ./another/Makefile`.

[2015-12-14 21:06] #18 closed

[2015-12-14 21:31] VojtechVitek commented on #7
@lexa-uw sup description:

`make` also accepts multiple commands/targets.

Yes, the same thing can be achieved with "targets" -- but this is just a convenient sugar that doesn't add any more complexity.

[2015-12-14 21:37] #7 closed

[2015-12-14 21:42] VojtechVitek commented on #6
also you can use

`echo 'ls -la' | sup production shell`

[2015-12-15 07:21] #5 closed

[2015-12-15 07:21] #23 closed

[2015-12-15 07:21] #38 closed

[2015-12-15 07:22] VojtechVitek commented on #2
`ctrl+d` should send EOF as well

[2015-12-15 13:00] eduardonunesp commented on #6
Very cool, thanks for the tip

[2015-12-15 13:03] eduardonunesp commented on #7
Yeah, but would be cool a command like `sup stg --target cmd1 cmd2 cmd3`, it's just instant target, maybe is simple to implement

[2015-12-15 13:05] eduardonunesp commented on #18
Agree, sorry to comment in a closed one, but the idea of an `include` command would be interesting.

[2015-12-15 13:06] eduardonunesp commented on #24
:+1: Cheers !

[2015-12-15 13:07] stengaard opened #42 "Error handling suggestion"
The problem:
Solve littering and easing cleanup scenarios in case of failed deployment. (e.g. due to dry run failing.)

The proposed solution:
Consider

[code]

`ensure` scripts would be always be run after all commands have run. They are run in reverse order.

`on-error` scripts would be run only if a command failed. They are run in reverse order.

Objections and discussions are welcome.

[2015-12-15 13:16] eduardonunesp commented on #42
Awesome idea, something like a `rollback` would be cool as well. Maybe we can use a target name for a rollback.

[code]

[2015-12-15 14:16] stengaard opened #43 "Add default Env variable SUP_RELEASE"
### The problem
Naming a release consistently across hosts is hard (since time might be off between hosts).

### The proposed solution
Introduce `SUP_RELEASE` as a "global" variable like `SUP_NETWORK`. The idea is stolen from Capistrano.

`SUP_RELEASE` would be assumed to be unique and be time ordered.

[2015-12-15 14:18] pkieltyka commented on #43
@stengaard you can use:

[code]

[2015-12-15 14:19] pkieltyka commented on #43
I'm not sure what the default value for SUP_RELEASE would be.. that it would be so consistent and useful. Can you explain more.. with examples

[2015-12-15 14:22] pkieltyka commented on #42
good ideas, but we need to make sure that the semantics are consistent and clear. For a "command" we now have:

* desc
* run
* script
* local
* once

just something to consider, we should keep this list as minimal as possible and as intuitive as possible.

[2015-12-15 14:29] stengaard commented on #42
@eduardonunesp  - When is `rollback` invoked? Only on errors? Is it a special command `sup production rollback` (a default capistrano command)? I tend to think the term is slightly overloaded and hence not very clear. Just my 2 cents. But maybe your approach has a simpler model in that you don't mix things at the command level with things at the target level (except for pointing at it).

@pkieltyk

[2015-12-15 14:40] stengaard commented on #43
Sorry - I wasn't clear.

[code]
in https://github.com/pressly/sup/blob/d406a20610c1f0035b04ac97ef5b6f688f67231a/cmd/sup/main.go#L100

This would mean that you could do

[code]

Clean up could then be:
  - remove old releases:  `ls -r | tail -n 4 | xargs rm -rf`
  - Cleanup in case of failed deploy code is easier: `rm -rf /app/releases/$SUP_RELEASE`

[2015-12-15 14:42] pkieltyka commented on #43
ah I see. I would rather call it like SUP_TIMESTAMP or something like that, to reflect that its just the current time..

[2015-12-15 14:43] stengaard commented on #43
Agreed - the name isn't perfect.  `SUP_TIMESTAMP` doesn't really communicate that it's the timestamp from the CLI invocation though, but it's better.

[2015-12-15 14:44] pkieltyka commented on #43
yea I agree, we can come up with something better still

[2015-12-15 14:54] stengaard commented on #18
@eduardonunesp it would be useful, yes. But the semantics get quirky and the implementation I came up with was way less readable.

Semantically: How is precedence handled? This has to be though out in case of both `networks`, `env` and `command` sections - with not necessarily the same answer. Do the values merge or override? What would the Supfile author expect? (I lean towards merging personally

[2015-12-15 14:56] stengaard commented on #43
`SUP_DEPLOY_ID`? `SUP_DEPLOY`? `SUP_START_TIME`? `SUP_NEXT_RELEASE`?

[2015-12-15 15:01] VojtechVitek commented on #43
How about passing ENV VARs from the CLI (Docker style)?

[code]

[2015-12-15 15:01] stengaard commented on #43
`SUP_DOG`? ;)

[2015-12-15 15:03] eduardonunesp commented on #42
@stengaard indeed my idea added some complexity, `on-error` looks good as well, my major concern is to clean up the deploy when something goes wrong.

@pkieltyka the list looks good and small, also a fallback like `on-error` is something that is missing

maybe the command should be `onerror` just to keep pattern

[2015-12-15 15:03] stengaard commented on #43
That seems very do-able. But wouldn't that quickly lead to situations where you forgot the exact combo of  env vars and couldn't get your bundle of scripts to do the same thing as last time you deployed?

[2015-12-15 15:09] eduardonunesp commented on #43
@VojtechVitek hey ENV VARs from CLI is a good idea :+1:

But add some internal ENV VARs are something that add flexibility to the project as well, like `SUP NETWORK` added. Many commands can be cumbersome, but adding embed ENV VAR are lovely

[2015-12-15 15:53] VojtechVitek commented on #43
@stengaard ENV VARs from CLI will be useful for much more scenarios than this one.

To be honest, to get the "RELEASE_STRING", you should be using git tags or something similarly more permanent.. For example, we're using `git describe --tags --long --dirty` for LONG_VERSION and `git describe --tags --abbrev=0` for SHORT_VERSION.

btw: To double check that you don't forget to set an ENV VAR, you co

[2015-12-15 15:58] stengaard commented on #43
@VojtechVitek - yeah the git SHA is good as it guaranteed to be unique, but it doesn't also give you an ordering.  To get both we could combine the two (not sure values in `env` is env var expanded):

[code]

[2015-12-15 16:12] VojtechVitek commented on #42
I like the concept of `onerror` roll-backs :+1:

I don't think we need `ensure`, though -- you can put ensuring commands into your existing commands, like
[code]

[2015-12-15 16:17] VojtechVitek commented on #18
@stengaard @eduardonunesp what are you guys trying to solve with `include`? Is it that multiple Supfiles would share commands/targets? Can you provide some real-World examples?

[2015-12-15 16:18] VojtechVitek commented on #7
@eduardonunesp it's already implemented in master, you can try running multiple commands/targets using `sup <network> cmd1 cmd2 target cmd6`

[2015-12-15 17:08] stengaard commented on #18
@VojtechVitek - I'm trying to come up with easy ways to re-use commands, networks and env across a lot of different projects.

In case of web-apps using micro service architectures, each app created from the same app template. In this scenario you would only want to maintain the differences from the norm in each individual app. They would all share the same network and the same base set of command

[2015-12-15 17:10] stengaard commented on #42
The point of `ensure` was that they were run after all other commands are run in the target list. Irregardless of return codes. (Also: return code of `ensure` command should be ignored.)

[2015-12-15 19:02] eduardonunesp commented on #7
Oh sorry, thanks

[2015-12-15 19:44] VojtechVitek commented on #42
You can use http://redsymbol.net/articles/bash-exit-traps/ for a clean-up on exit. I'm still not convinced we need `ensure`, since you can achieve the same thing easily using bash/sh. Let's keep the API clean unless we have a really strong consensus on a feature like that.

However, I like the `onerror` rollbacks, that's a great feature. That one makes sense, as it's not easily achievable by seque

[2015-12-16 09:45] stengaard commented on #42
I do agree with your views on API size, but I still feel I haven't explained the usefulness of `ensure` well enough. I'll give it another go. :)

The thing about `ensure` is that you could want to use the product of a command (e.g. `/tmp/code`) in a later command - but would then need a separate cleanup command.

Compare

[code]

To

[code]

The point I'm trying (badly) to get at is locality and r

[2015-12-16 09:48] stengaard commented on #42
Also: maybe the name `ensure` is horrible. I suck at naming things. If a had a dog it's name would be: dog. Or Arnie.

[2015-12-16 09:51] stengaard commented on #43
`SUP_UNIQUE_ID`?

[2015-12-21 10:34] stengaard commented on #10
Could also switch the syntax a bit:

[code]

This would always define the order. Support for the old syntax could still be preserved at the cost of a little complexity by making an (unexported) intermediate type that is a `yaml.Unmarshaller`.

[2015-12-28 22:56] aelsabbahy opened #45 "Add conditionals (skip_if_run, skip_if_script)"
Would be nice if a user can run a task conditionally, something along the lines of..

[code]

[2015-12-30 10:19] littlexiang opened #46 "Pass extra env from command line"
Is there a way that I do something like this?
```sup --env BACKUP_DIR=/path/to/dir production rollback```

[2016-01-01 19:19] VojtechVitek commented on #46
@littlexiang Not yet, but we were already discussing this functionality. I will add it soon :)

[2016-01-02 21:31] VojtechVitek commented on #45
Interesting indeed. This really applies to `upload` command only, since you can use the very same conditional as part of `run` or `local` commands. In that case, we might want to re-think the syntax of `upload` too..

On the other hand, `if` might apply to the whole command/target section.. But where is the conditional command run? Locally? Remotely? I guess remotely only.

My future syntax goal w

[2016-01-03 21:48] eduardonunesp commented on #45
Be careful with use of `local` within `upload`, because the `upload` runs before the `local`

[2016-01-04 17:04] littlexiang commented on #46
thx a lot
it could be very useful

[2016-01-04 17:58] #43 closed

[2016-01-05 18:45] kureikain opened #48 "Allow argument on script"
Can we considering allow extra argument on script, right now, if I write this:

[code]

and run I got error:

[code]

Granted, I can create separate script to avoid passing argument, but having argument in script is much more powerful. I can also sync the whole repo, and use `run` which allow argument but that seems dirty and require an extra definition task.

I imagine it isn't that hard to add s

[2016-01-06 17:55] eduardonunesp commented on #48
Yeah, the implementation wasn't prepared for receive parameters on script param, this will need a parsing in script params.

https://github.com/pressly/sup/blob/master/task.go#L49

[2016-01-07 06:13] #10 closed

[2016-01-08 13:48] kernel164 opened #49 "user: Current not implemented on linux/amd64"
when I run `sup dev bash` I get `user: Current not implemented on linux/amd64`

http://stackoverflow.com/questions/20609415/cross-compiling-user-current-not-implemented-on-linux-amd64

[2016-01-08 15:25] #49 closed

[2016-01-08 15:26] VojtechVitek commented on #49
Thank you for the bug report, @kernel164

[2016-01-17 20:55] kureikain opened #54 "Rewrite import path for https://github.com/pressly/prefixer"
https://github.com/pressly/prefixer is moved to https://github.com/goware/prefixer

This make new build failed.

[2016-01-18 16:58] #54 closed

[2016-01-21 22:40] juergenhoetzel opened #59 "Remote depends on GNU/Bash"
Part of local issues are  fixed in 3862ab77a7eef396ae0ddb74db1b74f5270950aa, but if
remote target is a FreeBSD-System:

[code]

[2016-03-04 02:04] xiam opened #60 "Better messages for upload errors"
Had something like this:

[code]

The `./etc/foo.$FOO.conf` file didn't exist, `sup` tried to upload it anyway and that ended up on a remote `tar` error which was misleading.

Can `sup` alert and stop in case the `src` file does not exists?

[2016-03-08 17:15] pkieltyka opened #64 "Add link to binary releases on github pages"
Would be nice to link to "binary releases" in the installation section of the GH pages

https://github.com/pressly/sup/releases

[2016-03-08 17:17] pkieltyka opened #65 "README/GHP example of hosts list built from a command"
I believe we've added support for building the hosts list from the command line, it would be cool to show an example of this working so users could imagine using it with consul to get a list of hosts

[2016-03-08 18:16] VojtechVitek commented on #64
@rowanhogan can you add that link to gh-pages?

[2016-03-09 14:41] rowanhogan commented on #64
Added in #66

[2016-03-09 15:57] #64 closed

[2016-03-09 15:58] VojtechVitek commented on #64
Thanks!

[2016-03-28 14:41] eduardonunesp commented on #60
It can be done by a local check before upload by `sup` or by another command which runs before the `upload`, for instance, you can set a command to check if `./etc/foo.$FOO.conf` exists, if file not exists you can abort by return something different of `0`.

[code]

[2016-04-12 03:16] rubberydub opened #67 "Port forwarding"
Nice job!
Is port forwarding being currently/imminently developed? If not I will have a try.

[2016-04-12 14:41] VojtechVitek commented on #67
Does this work for you?

[code]

[2016-04-13 13:58] eduardonunesp commented on #65
+1

[2016-04-14 02:34] eduardonunesp opened #68 "Uploading with rsync"
Hey everyone, I managed to upload my src files using `rsync` instead using the native option (tar), so I want to show my `Supfile` and to share my idea, I hope that action bring new ideas and show how much Sup is a cool and flexible option.

[code]

[code]

Important to note: rsync command is working in local `src` directory and the `ssh` address is using environment variables (created inside the

[2016-04-14 11:26] eduardonunesp commented on #68
About the current host used, never mind, I found the `SUP_HOST` variable, which inform the current host. Just need to add in README :neckbeard:

[2016-04-14 13:08] eduardonunesp commented on #68
Is it possible to create an intermediary command, just to inject variables at the global ? something like:

[code]

I know that command `export` doesn't exists, but it's just an option to set some variable at runtime

[2016-04-29 18:27] VojtechVitek commented on #67
@rubberydub any update on this?

[2016-04-29 19:32] VojtechVitek commented on #6
Another example

given
[code]

you can pass in multiline input:
[code]

I'll add this to README soon.

[2016-04-29 19:32] #6 closed

[2016-04-29 20:42] VojtechVitek commented on #6
Done.

[2016-04-29 20:43] VojtechVitek commented on #65
Done.

[2016-04-29 20:43] #65 closed

[2016-04-29 20:53] VojtechVitek commented on #59
@juergenhoetzel is you default shell TCSH?

[2016-04-30 09:43] juergenhoetzel commented on #59
@VojtechVitek yes, TCSH is the default Shell on FreeBSD

IMHO the best solution would be to just rely on _POSIX_ features

[2016-04-30 13:24] pkieltyka commented on #59
agreed

[2016-04-30 16:21] pyros2097 commented on #42
Haha dog :smile: ! Dog come here!

[2016-04-30 16:26] pyros2097 opened #71 "Multiple runs in a single command?"
I know this might deviate from your current plan but having this might really be good since I'm trying to port somethings from a makefile to supfile
[code]
MaybeI could do it with multiple commands but it might get messy

[2016-04-30 16:51] VojtechVitek commented on #71
Right now, you can simply do:

[code]

----------

But I'm actually thinking of allowing multiple `run`s like this:
[code]

It's not on my TODO list, though. I can prioritize if there's a bigger demand for this feature.

[2016-04-30 16:58] VojtechVitek commented on #59
hmm........ this is tricky, since `export VAR=val` actually exports the var to all child processes

I guess I could use `set` or `setenv` instead but there might be hidden edge cases.

[2016-04-30 17:11] pkieltyka commented on #71
I think run: > is just fine IMO.. Just needs to be documented as an example

[2016-04-30 17:54] VojtechVitek commented on #71
btw: You can also
[code]

[2016-04-30 19:09] eduardonunesp commented on #71
I like the idea of run, run, run

[code]

[2016-05-01 03:33] #67 closed

[2016-05-01 13:19] pyros2097 commented on #71
I guess the second way is better and I think thats how they do it in ansible also. >_

[2016-05-01 15:13] pkieltyka commented on #71
Majority consensus rules :)

[2016-05-01 19:24] VojtechVitek commented on #71
It's not only about the syntax sugar, multiple runs might have interesting side effects, when combining with other commands too.

[code]

The only problem is ... what about `run` flags (ie. `once: true`, `serial: 2`)? Do they apply to all `run` commands? Do they apply to the previously declared `run` command only? Same thing to consider for `onerror` roll back commands (#42).

[2016-05-04 19:43] juergenhoetzel commented on #59
Actually `export=`is valid POSIX.
Invoking `/bin/sh`explicitly could be used to enforce evaluation using a POSIX shell, whether or not the users account is set to a POSIX shell

[2016-05-04 20:11] VojtechVitek commented on #59
@juergenhoetzel can you verify that your FreeBSD system doesn't have TCSH on /bin/sh path?

[2016-05-04 20:42] juergenhoetzel commented on #59
I can confirm. `/bin/sh` is always the default POSIX sh: https://www.freebsd.org/cgi/man.cgi?query=sh&sektion=&n=1

[2016-05-04 20:42] pkieltyka commented on #59
yea.. you can definitely expect any POSIX OS to have /bin/sh

[2016-05-05 04:40] eduardonunesp opened #75 "Missing SUP_HOST variable at the documention"

[2016-05-05 06:42] pyros2097 opened #76 "Group commands based on networks?"
Just as we have different hosts, can't we have commands that run on different host. Like I don't want to run the build command on my production host but would like to have it only in development. In ansible we generally use roles for this I think.
[code]

[2016-05-05 12:39] eduardonunesp commented on #76
Sup don't have these rules, instead it let you free to leverage the `sh` shell or `bash`. I have created a basic solution. Actually I think you have two options.

First:
[code]

Second:
[code]

[2016-05-05 14:32] VojtechVitek commented on #76
We considered having this functionality, since this is quite common use case - but we wanted to keep SUP as simple as possible.

That's why we introduced `$SUP_NETWORK` env var instead so you can nest sup commands like this:

Supfile:
[code]

Supfile.builder:
[code]

`sup production build` will build docker image only on builder.example.com.

@pyros2097 @eduardonunesp Does this make sense? I didn'

[2016-05-06 09:55] pyros2097 commented on #76
I think the sup_networks and targets think is what suits me for now. I'm not very keen on maintaining many supfiles for now as it is very small project for now. Maybe that would help a lot when you have many things to do and on different hosts.
Thanks! :smile:

[2016-05-06 19:28] VojtechVitek commented on #76
Ok, great. Closing for now. Feel free to reopen, if you have any further suggestions/questions.

[2016-07-14 14:25] #46 closed

[2016-07-15 19:02] #75 closed

[2016-07-16 03:22] #2 closed

[2016-07-16 18:21] VojtechVitek commented on #59
Might be solved by #77.

[2016-07-18 06:06] AmitKumarDas opened #80 "Ordering of output is not maintained"
Observation: The command output & the command itself do not maintain an order in the output.

1/ The snippet of my Supfile:
[code]

2/ The command that is executed:
sup -e SOMEONE=amit -f /etc/openebs/Supfile local hello

3/ Outputs displayed when the same command is tried multiple times:

[code]

[2016-07-18 06:10] AmitKumarDas opened #81 "Is it possible to display only the command(s) output when running a sup command ?"
1/ My Supfile snippet:
[code]

2/ Can we have only the output of the command ?
Is there any option to hide the verboseness in the output ?
In this case I just want **HI amit** & nothing else.
[code]

[2016-07-18 13:54] VojtechVitek commented on #81
@AmitKumarDas not right now, but I guess we could implement it. You'd get server prefix on each line, though.

[code]

[2016-07-18 13:57] VojtechVitek commented on #80
This is expected behavior. Both processes compete in writing to the same stdout. So the result (who's first) is nondeterministic. Imho, there's nothing we can do.

[2016-07-18 13:58] #80 closed

[2016-07-18 18:23] #60 closed

[2016-07-18 19:13] #81 closed

[2016-07-19 06:25] AmitKumarDas commented on #81
Thanks @VojtechVitek for being so responsive.

I tested it out & it works as expected.

# sup -f /etc/openebs/test.conf -e SOMEONE=DAS local hello
root@localhost | HI DAS

My intention was to display pretty formatted output as-is.
I will use below for the time being.
[code]

[2016-07-19 14:27] VojtechVitek commented on #81
Cheers 👍

[2016-07-21 22:38] aelsabbahy opened #86 "Use ~/.ssh/config or allow user to override key"
Awesome project!

Currently it seems ssh key is hardcoded to `~/.ssh/id_rsa` or `~/.ssh/id_dsa`.

* The easy fix: Allow user to specify it on the command line `sup -i ~/.ssh/some_key ..`
* The more complex fix: Honer settings in ~/.ssh/config

[2016-07-25 22:52] pkieltyka opened #88 "Bug running `w` remote command"
[peter@pak ~/Dev/go/src/github.com/pressly/imgry]$ sup production w
ubuntu@imgry1.x.pressly.io:22 | w: 40 column window is too narrow
ubuntu@imgry3.x.pressly.io:22 | w: 40 column window is too narrow
ubuntu@imgry2.x.pressly.io:22 | w: 40 column window is too narrow
ubuntu@imgry2.x.pressly.io:22 | Process exited with status 1
ubuntu@imgry1.x.pressly.io:22 | Process exited with status 1

[2016-07-26 03:57] VojtechVitek commented on #88
Most probably upstream bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=183394

We might introduce an option to disable TTY for a certain command, which would "fix" these types of bugs.

[2016-07-26 04:01] VojtechVitek commented on #88
A workaround is running `w|cat`, where cat hides the underlying TTY's stdout fd with its raw stdin fd.

[2016-07-28 21:37] #88 closed

[2016-08-03 17:01] solher commented on #76
I am trying to run far away from Ansible and I am currently using Sup with docker-machine/docker-compose. It is almost perfect for that task but I have kind of the same problem.

For example, I would love to be able to have a "init" command that creates a new development docker-machine VM, but that command should only appear in the CLI under the "dev" network as the creation of a dev VM in product

[2016-08-03 17:44] pkieltyka commented on #76
@VojtechVitek @solher I believe we set a $SUP_NETWORK env var.. you could check that and exit if $SUP_NETWORK isn't "dev" .. right in your command. I believe its the best way without having to change anything in sup.

[2016-08-03 18:47] solher commented on #76
I totally got that but it feels like a weird behavior.
A user would try:
[code]
And would probably wonder "Why is there a dev command in production?".
And a `sup prod init` would print "No you can't use a dev command in production".

It isn't really a technical issue and it is probably not urgent but I know it may confuse people to use a tool like that.

[2016-08-04 13:12] bborysenko opened #90 "Can't close interactive bash session"
`^C` doesn't close interactive session

[2016-08-04 14:02] VojtechVitek commented on #90
`exit` works and `^C` should work too. The remote shell must ignore the INT signal or something. Can you send me name/version of your remote shell?

[2016-08-04 17:03] lym opened #91 "Installation failing on Ubuntu 14.04 machine"
When I try to install following the instructions on the [project page](https://pressly.github.io/sup/), the installation fails with:

    # github.com/pressly/sup/vendor/golang.org/x/crypto/curve25519
    go/src/github.com/pressly/sup/vendor/golang.org/x/crypto/curve25519/doc.go:15: undefined: scalarMult

My go version is 1.6.2

[2016-08-04 17:11] VojtechVitek commented on #91
@lym what's your architecture?

can you run
`go verison` and
`go env`

[2016-08-04 17:13] VojtechVitek commented on #91
I guess we should rather report this against https://github.com/golang/crypto

[2016-08-04 17:15] lym commented on #91
~$ go version
     go version go1.6.2 linux/386

    ~$ go env
    GOARCH="386"
    GOBIN=""
    GOEXE=""
    GOHOSTARCH="386"
    GOHOSTOS="linux"
    GOOS="linux"
    GOPATH="/home/lym/go"
    GORACE=""
    GOROOT="/opt/go"
    GOTOOLDIR="/opt/go/pkg/tool/linux_386"
    GO15VENDOREXPERIMENT="1"
    CC="gcc"
    GOGCCFLAGS="-fPIC -m32 -pthread -fmessage-length=0"
    CXX="g++"
    CGO_ENABLED="1"

[2016-08-04 17:20] VojtechVitek commented on #91
Thanks, I'll try to build binaries for Linux 386. Let's see

[2016-08-04 17:32] VojtechVitek commented on #91
Ok, I figured it out. Bug in vendoring tool that we use. I'll push fix and new release in a bit.

[2016-08-04 17:43] VojtechVitek commented on #91
Fixed in https://github.com/pressly/sup/commit/22479dfbdaa11f80c790b05acd76349a66cc46c7. Released v0.4.2.

@lym Can you please confirm it works for you?

[2016-08-04 17:43] #91 closed

[2016-08-04 19:29] lym commented on #91
Yes it does :-) Thank you!

[2016-08-05 15:19] chonthu opened #92 "Command options as Packages"
run, local, and many more user contributed actions as "packages". More Ansible style "tasks" maybe a "yum" package etc.

example:

[code]

thoughts?

[2016-08-05 17:01] VojtechVitek commented on #92
We're not trying to reimplement Ansible. Sup is just a simple SSH multiplexer that runs commands remotely.

You can run scripts, though:
[code]

[2016-08-08 09:21] bborysenko commented on #90
[code]

[2016-08-08 12:56] hauleth commented on #68
It would be great to have option to use `rsync` in upload, like:

[code]

[2016-08-09 17:52] VojtechVitek commented on #90
I'm not 100% convinced what to do in this case.

If you run `bash` inside of `bash`, the same thing happens.. `^C` doesn't exit the process. However, `^D` (closing stdin) or typing `exit` does.

I guess I should solve the `^D` first, which doesn't seem to work properly... and then reconsider if multiple `^C` should force-exit the remote process even if it traps SIGINT.

[2016-08-15 20:21] #92 closed

[2016-08-21 18:04] tpaz commented on #86
Or use ssh-agent, so if you have configured your keys to be cached by ssh-add, theoretically it should work... at least in code there was preparation for that:
        // If there's a running SSH Agent, try to use its Private keys.
	sock, err := net.Dial("unix", os.Getenv("SSH_AUTH_SOCK"))
	if err == nil {
		agent := agent.NewClient(sock)
		signers, _ = agent.Signers()
	}

Not sure it works, didn'

[2016-08-21 18:08] aelsabbahy commented on #86
I think ssh-agent worked for me when I tried it.

Honoring `.ssh/config` allows for more complex things like setting the user.

[2016-08-21 18:09] tpaz opened #93 "ver 0.4 - "script" command exception"
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x20 pc=0x4b81e0]

goroutine 45 [running]:
panic(0x6fd580, 0xc82000e130)
	/usr/lib/go-1.6/src/runtime/panic.go:481 +0x3e6
github.com/pressly/sup.(*SSHClient).WriteClose(0xc8200d4000, 0x0, 0x0)
	/home/user/dev/go/src/github.com/pressly/sup/ssh.go:273 +0x40
github.com/pressly/sup.(*Stackup).Run.func4(0x

[2016-08-22 17:45] VojtechVitek commented on #93
I'll take a look later this week, feel free to remind me.

In the meantime, can you try removing "upload", since you're using `script` directly?

[2016-08-22 17:48] VojtechVitek commented on #86
ssh-agent works, as long as `$SSH_AUTH_SOCK` env var is set correctly

otherwise, sup defaults to `~/.ssh/id_rsa` and `~/.ssh/id_dsa` --- we might want to parse more files from `~/.ssh` directory (ssh does this by default)

[2016-08-22 17:49] VojtechVitek commented on #86
Parsing `~/.ssh/config` is also doable - but personally, I don't have time for it. Feel free to take over and send us a PR :)

[2016-08-24 11:22] tpaz commented on #86
+1 worked for me on eventually :) to add config file support - I will first have to gain more experience in Go :)

[2016-09-02 21:36] #93 closed

[2016-09-03 07:03] tpaz commented on #93
sure

[2016-09-03 07:05] tpaz opened #95 "Running commands/processes in the background from Sup command (e.g. &)"
Running a command/process(es) in the background: it seems sup is running bash -c (correct?) to execute remote commands, and I couldn't understand why it was killing commands executed with & (move to bg).

I even used demonize / start-stop-daemon tools to try run my process as daemon to work-around the & issue. it didn't work either.
Eventually, I resolved it by wrapping the process in a script tha

[2016-09-06 08:01] bborysenko opened #96 "Wrong version number for 0.5"
[code]

[2016-09-06 14:47] VojtechVitek commented on #96
@bborysenko thanks! I'll regenerate binaries

[2016-09-06 14:49] VojtechVitek commented on #96
Done.

[2016-09-06 14:49] #96 closed

[2016-09-06 14:56] VojtechVitek commented on #95
Hi @tpaz,
correct, `sup` runs another shell process as a wrapper to set up the correct environment.

You'd need to detach your background process from the parent. Try `nohup` or `disown` Unix commands.

I might look into removing the wrapper shell, since I was able to resolve the ENV VARs locally via #94. Not sure if I end up with a working solution tho. Let me try..

[2016-09-23 15:05] bborysenko opened #97 "Use environment variables in inventory"
I would like to be able dynamically generate inventory based on environment variables:

[code]

But it doesn't work:

[code]

Is there some way to do it?

[2016-09-23 15:09] bborysenko commented on #97
Just in few minutes later I realized that it can be done in this way:

[code]

But in this case I have to specify this var twice, what is bit annoying.

[2016-09-26 19:24] VojtechVitek commented on #97
makes sense -- are you going to submit a PR?

[2016-10-07 12:08] bborysenko commented on #97
Sorry,  but no. Have to learn golang before ...

[2016-10-13 06:48] andares opened #98 "target call target, display "Unknown command/target""
[code]

how does it work?

supfile content like:

[code]

[2016-10-13 09:33] andares opened #99 "need new environment variable like $SUP_PATH"
run sup command:

[code]

I need a variable to get path by supfile and find other file with relative path.

[2016-10-13 09:59] andares commented on #99
supfile content:

[code]

and file structure is:

[code]

it does not work.

[2016-10-13 10:59] andares opened #100 "a suggest, Supfile default filename should be Supfile.yml"
Like .styleci.yml, appveyor.yml, composer.json, etc. It can be support by editor.

[2016-10-13 14:24] VojtechVitek commented on #99
Oh, this is interesting. By default, the working directory is equivalent to your $PWD (from which you're running `sup`). Are you ok with `$SUPFILE_PATH`?

[2016-10-13 14:28] VojtechVitek commented on #98
So, target calls another target. Cool. The only problem would be circular dependency, we'd need a proper check.

Ref. #31.

[2016-10-13 16:22] andares commented on #98
Yes, I think it will be useful. try to do it :-D

[2016-10-13 16:26] andares commented on #99
Yep, I hope my deploy file can be checkout in everywhere and I can call sup in everywhere. only relative path in deploy files is clearly.

[2016-10-13 16:36] andares commented on #99
I think ```upload``` method could be add a param like ```base```, example:

file structure:

[code]

supfile content:

[code]

it will upload ```kibana.shihou.conf``` to ```/etc/nginx/conf.d/kibana.shihou.conf```

[2016-10-13 16:43] andares commented on #99
I understand sup is design to called in the directory with Supfile, but these change can improve the versatility, such as substitute for ansible :-P

[2016-10-19 16:47] eduardonunesp commented on #100
At least support `Supfile.yaml` or `Supfile.yml`as alternatives can be a good idea, I can prepare a PR for that

[2016-11-03 09:44] anarcher commented on #18
Hi,

I really would like to use multiples Sups :-)

[code]

Sometimes, I make/use a host listing generation script. If sup can support `include` or something else, It should be great!

PS) Sup is very great tools for me. Specially If I manage multiple instances. Thanks for open-source.

[2016-11-03 14:06] VojtechVitek commented on #18
@anarcher you can call `sup` from Supfile. This is what we do:

top-level Supfile:
[code]

`sup production deploy-scheduler` triggers `sup -f ./services/scheduler/Supfile production deploy`

[2016-11-14 08:16] tpaz opened #102 "Running Sup from Supfile"
Sup version: 0.5 (pulled today)

Following the README documentation, I tried to use sup within Supfile.
Either there is a bug or the documentation is misleading.
Instead of instantiating a sub-process as the README says on the machine where sup is executed, it actually tries to run the sup tool on the Remote machine where sup (parent) is supposed to execute the "run" command.

example:
[results@co

[2016-11-14 08:42] tpaz commented on #102
I replaced "run:" with "local:" command and it seems to work now.

So bug is on README. need to fix the above in "Running Sup from Supfile" section.

[2016-11-14 08:59] iven1990 commented on #95
any updates for this?

[2016-11-14 09:01] tpaz commented on #95
I got over it only via running an external bash script. within that script
I ran the desired processes in the background but in the end of the script
added a wait_pid instruction so that Sup will still consider it foreground.

On Mon, Nov 14, 2016 at 10:59 AM, iven1990 <notifications@github.com> wrote:

--

Rgrds
Tomer

[2016-11-14 15:34] VojtechVitek commented on #95
Yes, you can run
`script: ./you-script.sh` with background processes, I recommend using `nohup` and `disown` to make sure they still run after you exit from the script.

[2016-11-14 15:34] #95 closed

[2016-11-16 05:37] anarcher commented on #18
@VojtechVitek Thanks for the tip!

But sometimes I want to generate hosts file and want to mix Supfile's commands. Because my instances are  autoscaling/spot instances :-)

[2017-01-05 12:36] basharov opened #106 "Do sequential commands run in different sessions?"
I am trying out sup and here is my Supfile

[code]

When I run `sup staging lsroot`, it goes to root path / then lists the tree correctly.
But when I run `sup staging goroot ls`, it seems like two commands run in their own sessions, because `ls` shows content of /root folder, not /.

Is it an intentional behavior?
I'd like to run a list of commands in one session., like in `lsroot` example above.

[2017-01-05 15:40] VojtechVitek commented on #106
@basharov Thanks for the question. Yes, this is intentional behavior.
If you want to do sequential command within the same session, your approach with lsroot is correct (`run: cd /; ls`).

Thinking of it, we might introduce a $SUP_PWD variable or similar, if there's enough demand.

[2017-03-13 21:24] Kulak opened #109 "absolute path in upload does not work"
If absolute path is used, then copy does nothing and does not complain:

  deploy:
    desc: uploads files
    upload:
      - src: /tmp/go1.8.linux-amd64.tar.gz
        dst: $HOME/

[2017-03-13 21:49] VojtechVitek commented on #109
Are you sure it doesn't upload files into: `$HOME/tmp/go1.8.linux-amd64.tar.gz`?

[2017-03-14 21:49] Kulak commented on #68
I am interested in being able to pass name of the current remote computer, so I command like the following can be written against all computers and not hardcoded to one:

    rsync:
      local: rsync -aczP src/ $each_remote_computer_name:$HOME/blah

I could not figure out if there is already a built-in variable that reflects the name of current remote computer connection.

[2017-04-08 08:10] jazoom commented on #109
Well that answers a question about why my file wasn't being uploaded. I guess it takes the whole path with it. Is there a way to flatten the path and just take the file?

This behaviour is not clear in the docs.

[2017-04-10 09:35] emil-nasso opened #110 "Change working directory for hosts"
I think it would be very nice to be able to change the default working directory for a network.

Most of my experiments/mini-projects run on one server (that is running docker containers). I have one user that i SSH with to manage all these projects. Each project is in a directory in that users home directory.

Take a look at this example:

[code]

Imagine I had some real commands there instead. E

[2017-04-10 18:02] VojtechVitek commented on #110
I'm thinking of `$SUP_PWD` or `$SUP_WORKDIR` env var. But what would we do if the directory didn't exist?

[2017-04-11 16:37] emil-nasso commented on #110
Do you mean that the user sets the `$SUP_PWD` and `$SUP_WORKDIR` with the `-e` flag when executing the sup binary and sup uses that to change directory?

I'm not sure what to do when the directory doesn't exist. We could just `mkdir -p` it but it feels safer to just print out an error message.

[2017-04-11 17:06] VojtechVitek commented on #110
Yea, user could either pass the env var via `-e` flag or define the vars globally / per network in the Supfile.

[2017-04-20 18:06] untoreh opened #111 "per host env vars"
what about something like this:
[code]

[2017-04-23 06:58] jzs opened #112 "Sudo won't accept password on remote host"
I have a command in my Supfile `sudo systemctl restart myservice.service`.

When running it against a localhost host it asks for a sudo password just fine, and accepts my input. However when running it against a remote ubuntu host, it doesn't show the password prompt and it looks like sup is hanging.
When pressing ^C then it prints: [sudo] password for xxxx: followed by terminating the connection.

[2017-04-27 03:41] RussellLuo commented on #109
### Possible Reason

I encountered the same issue, and maybe I have found the reason.

The following two kinds of `tar` commands behave differently:

1. Empty `--exlcude` argument,  with a relative path, generates a correct archive

[code]

2. Empty `--exlcude` argument,  with an absolute path, generates a invalid archive (**the issue scenario here**)

[code]

And some system information:

[code]

[2017-05-02 00:14] Kulak commented on #109
I can no longer reproduce the issue, because I moved to fabfile.org solution.  I am closing the issue as it appears to have been fixed.

[2017-05-02 00:14] #109 closed

[2017-05-02 02:18] RussellLuo commented on #109
Sorry, what does "moved to fabfile.org solution" mean?

[2017-05-02 15:33] Kulak commented on #109
Yes, I have moved to use Fabric.

[2017-05-11 13:50] alinz commented on #112
@VojtechVitek do you think we can add input for asking password?

[2017-05-24 06:04] wildan2711 commented on #112
Getting the same behaviour deploying on my CentOS server

[2017-06-20 12:56] slavaGanzin opened #114 "Upload issues"
Hello thanks for your awesome project.

I had an issues with upload:

1. if ```src``` is not present I had no errors
1. ```-debug``` key didn't change this behaviour
1. there should be a message that something was(or not) copied
1. currently I see only tar (not so usefull) messages: ```tar: .config/fish/fundle/edc/bass/.git: time stamp 2017-06-20 15:47:40 is 199.705320196 s in the future ```
1. up

[2017-06-20 13:17] VojtechVitek commented on #114
Hi, thanks for reporting this issues.

However, I won't really have time to debug and fix the cause in the near future. Any help or Pull Request would be greatly appreciated.

[2017-06-20 13:44] slavaGanzin commented on #114
no it's not :(

I'm far from golang. But I'll document this in readme

[2017-06-20 13:52] slavaGanzin commented on #114
Before I was using:

[code]

for this task and the only problem I had I can get ```$SUP_HOST == 'localhost'``` in local section.
I think this was perfect solution and ```upload``` is ambiguous and unneeded :)

[2017-06-28 06:21] drklauss opened #115 "Restrictions for commands or roles limits"
Good day, everyone.
In our company we refused from Makefile to the favor of Supfile. We use sup for deploy, many members of my team can pull project from git repository and execute commands written in Supfile. Some of team members inattentive and careless, so they can accidentally run all commands. I think, that sup doesn't have enough security.
 I offer to inject several command limits or roles,

[2017-06-28 06:24] groall commented on #115
It's good idea

[2017-07-20 08:11] RussellLuo commented on #114
There was also [an absolute path issue](https://github.com/pressly/sup/issues/109#issuecomment-297603100), but [the pull request](https://github.com/pressly/sup/pull/113) submitted to address this issue got no response :-(

[2017-07-20 14:47] VojtechVitek commented on #114
Sorry, I've been very busy recently with other work and I can't focus on pressly/sup at this point.

My plan was to upgrade the whole `upload` thing with rsync and provide much better error messages.

[2017-07-20 14:48] VojtechVitek commented on #114
#113 has been fixed, thanks @RussellLuo for the reminder!

[2017-08-15 13:19] mingrammer opened #116 "Sup would not be updated"
If I run `sup`, the console shows this message:

[code]

But, that command does not update the sup.

Any solutions?

[2017-08-15 14:41] VojtechVitek commented on #116
Seems like your Supfile version is old, not the client. The message is confusing, sorry about that. Mind opening PR?

[2017-08-15 15:06] mingrammer commented on #116
@VojtechVitek I got it, Yes, I'm willing to fix this by PR :)

[2017-08-15 15:08] mingrammer commented on #116
Assign this issue to me please

[2017-08-15 22:09] #116 closed

[2017-08-31 13:08] guitmz commented on #86
is this going to happen? :)

[2017-08-31 15:32] jakewarren commented on #86
I opened a Bountysource bounty if anyone wants to take it on. :)

[![Bounty](https://api.bountysource.com/badge/issue?issue_id=36243899 )](https://www.bountysource.com/issues/36243899-use-ssh-config-or-allow-user-to-override-key)

[2017-08-31 18:24] pxue commented on #86
@jakewarren I have a starter solution to parse / honour `~/.ssh/config`. shouldn't be too much of an extension to handle different keys as well

[2017-08-31 20:01] VojtechVitek commented on #86
@pxue pls let me know if you want to add it to #105. I'll try my best to finally finish the review after it's done. (Sorry for the delay!)

[2017-09-01 10:35] hauleth opened #118 "Is the project still alive?"
It seems like nice project, however I see it is a little bit rotting right now.

[2017-09-01 12:14] pkieltyka commented on #118
@hauleth the project is very stable and in use by many people. We support many OSS projects, and have other jobs etc. If you want something done, submit a PR or help with reviews.

[2017-09-01 12:14] #118 closed

[2017-09-01 15:01] VojtechVitek commented on #118
Yeah, this project is still very alive and used every day!

The codebase needs some more love from the community, though. I'm doing my best to address important bugs asap, all in my spare time. Any additional features need to wait until there's time to address them.

[2017-09-01 15:10] pkieltyka commented on #118
Send some ETH or PRs :)

[2017-09-02 11:03] hauleth commented on #118
Woah, hold your horses. I asked in good faith as I see great potential in it and it seemed like a little stagnation (no new versions for over a year, 0.6 as the lasted released version, a lot of old issues and  PRs and I was concerned as I really like the project and I would like it to grow, however I am not Gopher myself. And for me some of the PRs are must have, like #105 or #87 and are blocking

[2017-09-14 02:03] runeimp commented on #71
I think the flags should be sub items of run for that run only and the normal flags being "global"

[2017-10-29 14:03] juergenhoetzel commented on #86
I suspect the *global* auth initialization code:
[code]

must be changed to something like:
[code]
Do allow per-network configuration of keys?

I would prefer to specify the keys in the *supfile* instead of parsing the *openssh* configfile because I prefer to have the config in one place. I also think it is not feasible to map the openssh *CertificateFile* to sups *networks* in a consistent way.

[2017-12-19 10:55] ernoaapa opened #122 "Add to Homebrew?"
Any change to add sup to homebrew? Would help a lot to get our developers to excite about this.
There's one old merged PR in this project https://github.com/pressly/sup/pull/56,
but actually the Homebrew formula never get merged https://github.com/Homebrew/legacy-homebrew/pull/48230

[2017-12-19 17:36] VojtechVitek commented on #122
@ernoaapa that'd be great. Are you willing to open a new Homebrew PR?

[2017-12-19 19:47] ernoaapa commented on #122
Not planned yet. I need to try out sup first :) I have not created Brew formula PR before so maybe someone else who is more familiar with it.

[2018-01-16 21:00] VojtechVitek commented on #118
FYI. I found some spare time and I'm merging new PRs - whatever is ready.

Sup's Not Dead! 😆

[2018-01-16 21:04] VojtechVitek commented on #86
FYI, #123 has been just merged. Sup now loads any private key matching `~/.ssh/id_*` wildcard.

[2018-01-16 23:17] VojtechVitek commented on #86
#105 and #124 were merged too.

The only remaining part is actually using the custom IdentityFile. It doesn't work yet.

[2018-01-16 23:18] VojtechVitek commented on #100
Supfile > Supfile.yml > `sup -f CustomSupfile`

[2018-01-16 23:19] VojtechVitek commented on #100
We picked Supfile based on Makefile and Dockerfile. But I understand where this is coming from: YML IDE formatting doesn't work right away, am I right? :)

[2018-01-16 23:37] VojtechVitek commented on #100
Given the number of thumb ups, expect a PR in couple minutes.

[2018-01-16 23:46] #100 closed

[2018-01-16 23:47] VojtechVitek commented on #100
Implemented. Thanks for this suggestion!

[2018-01-17 00:39] VojtechVitek commented on #102
This seems to be fixed for a while..

[2018-01-17 00:39] #102 closed

[2018-01-17 00:42] VojtechVitek commented on #114
This has been resolved in #113. Please reopen if I'm missing something.

[2018-01-17 00:42] #114 closed

[2018-01-17 01:08] VojtechVitek commented on #115
# targets:
I don't really see what `targets:` would give us in terms of security.

You could possibly make those commands hard to type, ie. insert a whitespace into the command key:
[code]
Note that `sup ENV go_build` would not invoke this command, since it's missing the leading whitespace.

If you care about security, then don't give these developers access to production hosts. Give them access t

[2018-01-17 01:08] #115 closed

[2018-01-17 16:21] VojtechVitek opened #127 "Resolve inventory only if network is invoked"

[2018-01-17 16:23] VojtechVitek opened #128 "Consider Host options"
- Env vars per Host
- IdentityFile per Host
- Maybe sudo/password per host
- different syntax, or support both list and/or key map?

[2018-01-17 16:27] VojtechVitek commented on #106
Very useful syntax for running multiple commands in a single session:

[code]

[2018-01-17 16:27] #106 closed

[2018-01-17 16:28] VojtechVitek commented on #99
@andares sorry for picking this up so late. Did you intend to have `$SUP_PATH` that would print absolute path of current directory in the host? Or absolute path on the remote host?

[2018-01-18 11:31] andares commented on #99
I think it should be absolute path of supfile(.yml) in the host :-D

[2018-01-18 14:24] MatthiasKauer commented on #112
Are all the examples done with passwordless sudo?
Or is this an isolated problem?
Haven't used sup yet myself but I'm very intrigued.

[2018-01-18 19:39] VojtechVitek commented on #112
Yes, all the examples were done with password-less sudo.

It all comes down to the infrastructure set-up. From my experience, most of the companies use private/public SSH key pairs to login to the instances (sometimes via a bastion host) and then the sudo itself doesn't have password, but is restricted to certain commands (like. `sudo docker`, ie. https://askubuntu.com/a/477554) etc.

There was so

[2018-01-18 19:42] VojtechVitek commented on #99
So, something like `$SUPFILE_PATH` or `$SUPFILE_ABSOLUTE_PATH`?

Can anyone help me figure this one out? How would we resolve an absolute path from something like `./Supfile` or `~/dir/Supfile`?

Anyone able to come up with a PR?

[2018-01-19 08:24] zxl777 opened #129 ""ufw enable" can not remote run"
run : ufw enable
show nothing for a few seconds , then timeout , show the message :
[code]

[2018-01-19 08:58] zxl777 commented on #129
Fixed !
[code]

[2018-01-19 21:34] VojtechVitek commented on #129
:)

[2018-01-19 21:34] #129 closed

[2018-01-29 07:54] Mingan opened #130 "Command & target re-use"
I've been playing around with Sup and it's elegant and simple, but I'm hesitant to use it as a deploy tool for our projects because I miss re-use options.

I created a Supfile with around 200 lines as a prototypúe. It does pretty much everything that I expect it to do (and few things on top of it), but it's tailored to one service. But I have eight different services. Some aspects of the deploymen

[2018-01-29 22:51] VojtechVitek commented on #130
Good points. Thanks for raising this. Do you have any potential solutions in mind?

[2018-01-30 17:40] Mingan commented on #102
It's not fixed on the website.

[2018-01-30 18:08] Mingan commented on #130
In order to solve my use case, I'd like the option to import one Supfile into another, going directly against

In my mind, 80:20 solution would be to import commands from one Supfile into another so that I can invoke command from the imported one by running the latter. The command would be executed in the context of the importing Supfile (with its network and variables).

There are several obstacl

[2018-01-30 19:53] VojtechVitek commented on #130
We heard people asking for reusable `networks`/`hosts` too and that's why we came up with "inventory".

Yeah, you raised good points. This can easily grow out of scope to a very complex solution with lots of edge cases.

I wonder what the rest of the community thinks about this. Or if they have any other elegant solutions in mind..

[2018-01-30 19:54] VojtechVitek commented on #102
https://github.com/pressly/sup/tree/gh-pages branch

[2018-01-31 14:36] Mingan commented on #130
Thinking about, you're right. In our current state, we'd probably reuse networks as well. I'm wondering about input from others, this seems like a thing every other user would use.

[2018-02-12 17:25] #127 closed

[2018-02-12 17:27] VojtechVitek opened #133 "SSH agent forwarding"

[2018-04-05 18:06] PaulCapestany commented on #90
FWIW I also can't seem to close multiple interactive bash sessions via `^C` (_or_ `^D` for that matter). Though `exit` _does_ work. This is with standard bash (afaik) on CoreOS Container Linux distro:

[code]

Not a big deal however–may poke at the issue a bit myself. Btw, really wish I had discovered sup sooner, it's making life as an SRE **_much_** nicer :)

[2018-04-13 14:51] hanthethanh opened #136 "Error "panic: runtime error: slice bounds out of range" when using option --sshconfig"
Hello,

when I tried the --sshconfig option I got an error as below:

[code]

Am I missing something, or this is a bug?

btw,  `sup --help` show this:
[code]
Note that there are only 1 hyphen. I tried with both 1 & 2 hyphens and the result is the same.

[2018-04-18 13:28] pabloalvarezcap commented on #136
Write what release/commit are you using.

[2018-04-18 13:55] hanthethanh commented on #136
I followed the installation instruction on github page:
`go get -u github.com/pressly/sup/cmd/sup`

Currently it is:
[code]

[2018-04-18 14:28] pabloalvarezcap commented on #136
At line 284 there is: `confHosts, err := sshconfig.ParseSSHConfig(resolvePath(sshConfig))`
confHosts will be of type `[]*SSHHost`, as we can see [here](https://github.com/mikkeloscar/sshconfig/blob/056592cb6962e83d208af2e58d90c3759ba09825/parser.go#L42) if there is not IdentityFile on ssh config file, it will not be initialitated, so, at  line 304 when the program calls to `resolvePath()` passing

[2018-04-18 14:33] pabloalvarezcap commented on #136
@hanthethanh you could try to go to append at the beginning of the function `resolvePath` and add:
`if len(path) == 0 {
    return ""
}`
or:
``if path == "" {
    return ""
}``

[2018-04-18 14:41] pabloalvarezcap commented on #136
#137

[2018-04-19 09:06] hanthethanh commented on #136
thank you, it works now.

[2018-04-19 09:06] #136 closed

[2018-05-11 13:05] slavaGanzin commented on #112
man sudo
[code]

@VojtechVitek @alinz You dont' ask me, but IMHO: in this cases it's better to add cookbook with answers like this, than add a new feature that do exactly the same, but with new syntax.

[2018-05-18 14:39] untoreh commented on #86
I think comments (`#`) in the ssh config file make sup hang

[2018-05-18 17:00] untoreh commented on #86
Also when using a config file a `run` command is actually run only on one host (?) this is weird

[2018-06-09 16:20] untoreh opened #141 "piping doesn't work with dropbear server"
I have tested piping a bash script, trying to pipe to a dropbear ssh server returns
[code]
While quickly testing with sshd it works as intended.
Testing with with just the ssh client (standard openssh client)
[code]
works so I don't know what golang ssh or sup does differently

[2018-06-10 21:38] VojtechVitek commented on #141
Please, provide a full reproducer

[2018-06-11 03:38] untoreh commented on #141
[code]
dropbear
[code]
sup
[code]

[2018-06-12 12:54] kadefor opened #142 "[bug]connect failed if no "hostname" in sshconfig"
[code]

`connecting to clients failed: connecting to remote host failed: Connect("root@:22"): ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`

[2018-06-12 14:54] VojtechVitek commented on #142
Anyone able to fix this?

[2018-06-14 02:00] mfridman commented on #142
@kadefor You're correct that ssh falls back on a valid Host if HostName is omitted when reading from an .ssh/config file. IMO this logic should exist in mikkeloscar/sshconfig. But this is an easy enough fix I'll submit a PR.

[2018-06-14 02:43] kadefor commented on #142
I'm thinking about it too :-)

@mfridman
Currently, sup can't set ssh config for per host, this case:

`Supfile`:
[code]

and `~/ssh/config`:
[code]

now, we get two username "tom" and "roy"

`cmd/sup/main.go`:
[code]

`network.User` = ?

can we set `tom@<host>:<port>` in network.Hosts?

@VojtechVitek
this line `network.Hosts = []string{fmt.Sprintf("%s:%d", conf.HostName, conf.Port)}`
network.Host

[2018-06-14 03:46] mfridman commented on #142
@kadefor Yep, looks like it's a bug, the network.Hosts are being overwritten with `[]string{...`.

So for now it'd make sense to do the following:

Once Sup supports per host configs, can open it up.

[code]

[2018-06-14 03:52] kadefor commented on #142
I also think we can add "TODO" here. When Sup supports per host config, then refactor :-)

[2018-06-14 03:57] mfridman commented on #142
@kadefor Looking a bit more at the code you could do the following to fix your use case of username/hostname/port like so..

Because it looks like the `parseHost()` method takes into account whether a username was passed in or not.

[code]

[2018-06-14 04:17] kk44 commented on #142
@mfridman  I'll try to send a PR to support per host config, if I can handle it :-D

[2018-06-14 04:19] kadefor commented on #142
@mfridman I'll try to send a PR to support per host config, if I can handle it :-D

[2018-06-14 04:21] mfridman commented on #142
No problem, I'll close my PR.

Ideally you PR will address the immediate issue with setting the correct user, hostname and port when reading from a .ssh/config file.

[2018-06-25 16:00] kadefor opened #146 "[feature request] support encrypted password in Supfile"
If parse Supfile as golang text/template, we can add "decrypt" function into go template FuncMap and the `sup` command can add --encrypt flag to encrypt password string.

first,
[code]

Then, we can use the "decrypt" function like this:

`Supfile`

[code]

or:

[code]

or:

[code]

run,

[code]

I had implemented the feature basically, but it depends on "per host config" and "go template".

While

[2018-06-27 15:19] VojtechVitek commented on #146
You could use host inventory:

[code]

[2018-06-27 16:56] kadefor commented on #146
@VojtechVitek thank you for your reply.
While it's not a feature and it is useless, I will close the issue. :)

[2018-06-27 16:56] #146 closed

[2018-07-29 10:23] zxl777 opened #147 "set the SUP_HOST to remote host when local:"
We sometimes have to do some local operations on the remote host
and need to know the remote host address.

[code]

now show the
[code]

If show the remote host will be better
[code]

[2018-09-13 15:16] TakaGoto commented on #133
is this not possible at the moment? i'm able to ssh and `git clone` a private repo using ssh agent forwarding, but when using Sup it gives me permission issues.

[2018-09-14 15:35] TakaGoto opened #148 "command.local is not supported in Supfile v0.1 even though im at 0.5"
[code]

[2018-09-14 15:40] TakaGoto commented on #148
looking at the code it looks like `conf.Version` returns "" and defaults to 0.1

[2018-09-14 15:42] #148 closed

[2018-09-14 15:43] TakaGoto commented on #148
ha nvm i just figured this out myself. had to specify the version at the top of Supfile.

[2018-09-21 18:47] mj-ano commented on #86
Yeah, I just figured it out,  Is this a bug, not looping through the hosts if it's pulling from SSH Config file

[2018-10-14 03:54] k4ml opened #150 "Readline support or ability to edit command and command history in interactive session"
Currently it's not possible for me to edit the command with scroll back, I have to delete the characters with backspace to get to the point I want to edit. For example, pressing the left arrow will give me:-

[code]
Command history also not possible. Pressing Up arrow will give:-

[code]

Is this not supported by sup or it just my computer missing something?

[2018-12-01 16:44] untoreh commented on #142
It would be nice if `SUP_HOST` reflected `Host` and maybe `SUP_HOSTNAME` the actual endpoint from the ssh config `HostName`, but this would break compatibility with existing scripts I think

[2019-01-22 08:16] untoreh opened #154 "SUP_ENV needs escaping"
SUP_ENV is not escaped:
[code]
[code]
this one does not break but the quoting is lost
[code]
this one does not break and preserves quoting
[code]

[2019-01-22 11:42] kashp opened #155 "Get remote execution command status"
How can we get the exit status of remote command along with stdout and stderr.

[2019-01-22 17:37] VojtechVitek commented on #155
You can print the status in the bash command

[code]

The sup is only concerned about the status of the full terminal session. Any non-zero status will be shown as an error.

A good practice is to enable strict mode, where the terminal exits on any error:
[code]

Does this help?

[2019-01-22 17:40] VojtechVitek commented on #154
Sup sets the env var as a string value, it shouldn't need any additional escaping.

I think you need to escape the "$HELLO" variable in the remote shell.

[code]

Please, feel free to reopen if this doesn't help.

[2019-01-23 06:50] untoreh commented on #154
I don't think I understood what you meant.
The point is that sup doesn't escape quotes in the SUP_ENV variable. And since sup (well the go ssh packagei guess) executes the command as an argument (`bash -c "export SUP...."`) it ends up like
 `bash -c "...; export SUP_ENV="HELLO=" 1 2 3" OTHER_VAR=X"; ... "`
when it should be
 `bash -c "...; export SUP_ENV="HELLO=\" 1 2 3\" OTHER_VAR=X"; ... "`
The

[2019-01-23 18:51] VojtechVitek commented on #154
I might have misunderstood then. Can you provide a reproducer Supfile?

[2019-01-24 05:55] untoreh commented on #154
well there was already the command snippet just add a local network
[code]

[2019-02-07 03:31] aight8 opened #156 "must specify HostKeyCallback Error"
Get the following error when try to connect:
(go11.5, macos)

~/p/test> sup production echo
connecting to clients failed: connecting to remote host failed: Connect("aaa@ffff.ppppp.ch:22"): ssh: must specify HostKeyCallback

[2019-02-18 09:40] untoreh commented on #130
definitions are already cascading, so the last definition takes precedence, targets just fetch the defined commands so they will follow.
If a sourced Supfile has collission with another Supfile then those collissions should be dealt with by who made the Supfile, sup should at best print a warning about redefining an already defined config.
I think expected behaviour is already present and its just

[2019-02-20 19:14] kashp opened #157 "Ignore Faulty nodes while deployment"

[2019-02-20 19:16] kashp commented on #157
How can we ignore fault nodes of the list and continue deployment on working nodes.

connecting to clients failed: connecting to remote host failed: Connect("ABC@abc.com:22"): dial tcp X.X.X.X:22: connect: no route to host

sup fails even if there is a single faulty node.

[2019-02-20 19:18] kashp commented on #155
Thanks for the reply, That make sense i will try to parse logs in sup.

[2019-02-20 21:39] #155 closed

[2019-02-20 21:41] VojtechVitek commented on #157
There's some discussion at #152

[2019-02-21 16:33] d3sire commented on #156
Having the same issue.

[2019-04-10 15:00] pxue commented on #156
for future googlers:

until sup migrates to go mod you can compile sup with vendored version of /x/crypto/ssh by turning go mod off with:

`GO111MODULE=off go get -u github.com/pressly/sup/cmd/sup`

[2019-05-02 10:10] muodov commented on #86
For those who want to use it with custom keys, simple symlink worked for me:

[code]

[2019-05-03 13:15] coopernurse opened #158 "Update vendor crypto package (solves ssh agent issue)"
This week I was writing a `Supfile` and hit this error:

[code]

I was able to fix this by adding this line to `ssh.go`:

[code]

But that's only available in more recent versions of the `crypto` package.

Is there any objection to updating the `crypto` deps?

[2019-05-19 23:27] stephencheng opened #160 "Feature Request: Add kubernetes pod connection type"
Give that I have a KUBECONFIG with all certs and cluster info configured
I want that I am able to run sup command(shelll command etc) in side the kubernetes pod instead of ssh connection by default

This is similar to ansible connection plugin, such as docker/kubectrl: https://docs.ansible.com/ansible/latest/plugins/connection.html#using-connection-plugins

Essentially, the connection will be esta

[2019-05-21 16:57] VojtechVitek commented on #160
This is not possible. Sup was designed to work over SSH only. And I don't intend to change that.

I'd not combine Sup with Kubernetes; unless you want to SSH into the kubelet nodes.

[2019-05-21 16:57] #160 closed

[2019-06-14 10:20] sp0x opened #163 "Docker -it on Windows 10 bash, input device is not a TTY"
I'm having issues running Docker containers interactively on Windows using bash.
Here's the output when I run my sup command:
[code]

[2019-06-19 05:49] seguidor777 commented on #110
Hello,
Is this feature still pending or is there another way to set the working directory?
Thanks

[2019-06-23 00:22] cameron-elliott commented on #95
I did find a way to start background processes without shells scripts, it's a little gross, but it works.

Try this run: line:
    run: "nohup sleep 63 & sleep 2"

You can then do a PS on a target, and see sleep 63 running.

Try this run: line:
    run: "nohup sleep 66"

On my system, when I run PS on the target, there is no sleep running.

I believe what this reveals is a race condition where the

[2019-08-21 04:12] cameron-elliott opened #164 "Change --only to include comments portion ?"
Let's say I have the following in my sup file
[code]

If I run `sup --only 172.106.9.243 production date', then a match occurs

If I run `sup --only ashburn production date', then a match WILL NOT occur

How do the maintainers feel about a PR to change 'only' so the comments can be matched against?

[2019-08-23 13:23] VojtechVitek commented on #164
Currently, sup doesn't really parse comments at all.

[2019-09-29 15:39] Narven opened #165 "Fail to use -sshconfig"
Hi, some issues when trying to use -sshconfig for ssh into AWS

My ./ssh/config is: (the only thing)

[code]

My Supfile:

[code]

if I do on the command line `ssh foo` it works.

if I do

[code]
it throws an error:

[code]

I'm doing something wrong? I though this was fixed in 0.5.1.

My version is 0.5 when I do `sup -v` but is actually 0.5.3 (dont know why it does not show the patch version)

[2019-09-29 15:44] Narven commented on #165
Also the config file is set to 600

[2019-10-02 04:07] leeif opened #167 "Define the ssh identity file through supfile.yml or an environment variable"
- A need for me to use sup in the CI like Jenkins and it's not a good idea to set the ssh agent every time when the job is executed. The current code only read the identity file which name is  id_*. Why not make it to be definable ?

- Can't parse the identity file in the openssl format. This can be solved by updating the version of crypto/ssh package.

The related PR https://github.com/pressly/su

[2019-10-07 10:01] Narven commented on #165
Knock knock

[2019-10-07 10:35] #165 closed

[2020-02-07 12:29] pitosalas opened #172 "I installed Golang. But your installation doesn't seem to be working."
I am using Fish shell, but I don't think that matters. I did `brew install go`. I also used the dmg in experimenting. I updated the $PATH. I can `go version` and that works. `go list` gives an obscure message:
[code]
But I continued and did: `go get -u github.com/pressly/sup/cmd/sup` which completed without error.

And yet I don't have a sup command. I can't tell because I don't program in Go wher

[2020-02-07 13:46] VojtechVitek commented on #172
If you're new to Go, you might want to prefer downloading sup from
https://github.com/pressly/sup/releases

[2020-02-07 13:46] #172 closed

[2020-02-07 14:29] pitosalas commented on #172
Thanks. How do I install that file? Where do I put it? It's not a format that I recognize.

Pito Salas
Brandeis Computer Science
Volen 134

[2020-02-07 15:46] VojtechVitek commented on #172
sup-darwin64
sup-linux386
sup-linux64
sup-windows386.exe
sup-windows64.exe

all of them are executables built for different platforms/architecture

[2020-02-07 16:55] pitosalas opened #173 "account name used in ssh"
Is there a better place to ask usage questions? I will post this here but feel free to redirect me.

Is there any way to state in a Supfile what account (user@foo.com) to use for ssh?

[2020-02-07 16:56] pitosalas commented on #173
Self answer for others

Yes:

networks:
    production:
        hosts:
            - root@16.22.126.53

[2020-02-07 16:56] #173 closed

[2020-02-09 18:22] mfridman opened #175 "Switch CI from travis to gh actions"

[2020-03-05 21:09] gadelkareem opened #177 "Skip failed ssh connection"
is there a way to skip failed connection and continue to run the command on the next one?

[2020-07-20 10:58] cocotyty opened #178 "Does sup support ansible's ranges of hosts?"
make be like:
[https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#adding-ranges-of-hosts](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#adding-ranges-of-hosts)

[2020-07-20 12:55] VojtechVitek commented on #178
See https://github.com/pressly/sup#network `inventory`. You can do something like

[code]

[2020-07-20 12:55] #178 closed

[2020-07-27 13:52] AlexMikhalev commented on #90
Bump.
Same - can't close the session. And yes sup is an amazing product, I should be using it now used of ansible and fabric.

[2021-12-23 02:54] insign opened #179 "IS THIS PROJECT ABANDONED?"
Sorry for using this place. But the last release is from 2018. And Pressly looks was acquired. So.... What's is happening?

[2022-01-03 10:46] VojtechVitek commented on #179
Hi,
 I don't have the time to maintain this project anymore. Any enthusiasts to take over?

[2022-01-03 20:20] insign commented on #179
Well, I could take over the project, mainly to review pull requests and some adjustments, but since it is owned by a company which was acquired, are you willing to transfer ownership?

[2022-01-03 21:21] VojtechVitek commented on #179
Sup is MIT licensed. There's no company lock-in besides having to keep the original copyright in the LICENSE file (can be amended).

I'm willing to add contributors to this project and/or move this repo to its own community organization if there's enough interest eventually.

However, I can't just transfer the repo to someone I don't really know yet -- no offence!

[2022-01-03 21:48] insign commented on #179
@VojtechVitek np, probably would be weird just transfer it. I loved the idea behind the project. Maybe you by yourself should at least review the PR and maybe implement some tests to easily approve them.

[2022-01-04 03:07] kiransterling commented on #156
When this issue will be fixed in go module?

[2022-01-04 12:41] kiransterling opened #180 "Implement Download Feature in Sup"

[2022-01-05 12:15] mtroback commented on #179
@insign I just found myself with a bunch of RPi on which I need to do just about the same commands over and over again. This project seems to fit my needs but it desperately would need the waiting PRs merged in order to work. Maybe it is easier for Vojtech whom obviously doesn't have time (which I totally understands) if you could take the contributor role and merge anything that looks good and th

[2022-01-05 14:28] VojtechVitek commented on #179
I think I'll be able to merge PRs with decent high-level description and at least 2 reviews and working test-cases.

I case of new features, I'd appreciate some discussion up-front in Issues, so we don't waste anyone's development time too early.

[2022-02-25 00:51] gadelkareem opened #183 "No arm64 releases"
Can you please add arm64 releases?

[2022-04-12 06:23] gintering1000 commented on #122
1 step : open
2 step : familiar
3 step : get problem more
4 step : modify bug

'familar' is not first.

this is only `os level global deployment tool` devided langage format

- sup : it is good for engineer like upgraded scp
- ansible : it need agent..... ( Orchestration )
- deployer : config file syntax is php ( for php developer )
- goship : for go developer

i wish you think about this tool pos

[2022-06-16 16:08] xlab commented on #156
This comment saved my day, thank you sir.

[2022-08-09 21:49] #179 closed